<div class="container">
  <div class="row">
    <div class="col d-flex" *ngFor="let a of users">
      <div class="card" style="width: 18rem">
        <img class="card-img-top" src="{{ a.image }}" alt="Card image cap" />
        <div class="card-body">
          <p class="card-text text-center">
            <b>{{ a.category }}</b
            ><br />
            {{ a.description }}
            <br />
            <b class="text-primary">Price: {{ a.price }}</b>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
